.div-1 {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    position: relative;
    top: 1rem;
    left: 1rem;
}
.p1{
    position: relative;
    left: -9rem;
    top: 2rem;
}
.list-container {
    overflow-y: auto; 
    max-height: calc(46rem - 40px); 
    padding-right: 15px; 
    width: 410px;
    height: 1000px;
    position: relative;
    top: -8rem;
}

.alumno {
    background: #e0e0e0;
    padding: 2px;
    margin: 1px 0;
    border-radius: 15px;
}

.error {
    color: red;
    font-weight: bold;
}

.list-container::-webkit-scrollbar {
    width: 2px;
}

.list-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;
}

.list-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}

.list-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#section{
  width: 1px;
}