.div01{
    width: 480px;
    height: 70px;
    border-radius: 20px 20px 0px 0px;
    background: linear-gradient(to right, rgb(5, 29, 72), blue, rgb(5, 29, 73));
   
}
.footer{
    position: relative;
    top: -5.9rem;
}
.div02{
    width: 4rem;
    height: 1.5rem;
    color: white;
    border: 1px solid white;
    position: relative;
    top: -2.5rem;
    left: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div03{
    width: 4rem;
    height: 1.5rem;
    color: white;
    border: 1px solid white;
    position: relative;
    top: -4rem;
    left: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div04{
    width: 5rem;
    height: 1.5rem;
    color: white;
    border: 1px solid white;
    position: relative;
    top: -5.5rem;
    left: 14.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div05{
    width: 5rem;
    height: 1.5rem;
    color: white;
    border: 1px solid white;
    position: relative;
    top: -7.1rem;
    left: 21rem;
    display: flex;
    align-items: center;
    justify-content: center;
}