.contenedor-asistencias {
  max-width: 400px;
  margin: auto;
  padding: 15px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.m7r {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}

.i1t {
  font-size: 20px;
  margin-right: 10px;
  
}

.b7l {
  flex-grow: 1;
  height: 10px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.w3e {
  height: 100%;
}

.p5s {
  width: 50px;
  text-align: right;
  font-weight: bold;
}

.btn-z9x {
  margin-top: 15px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  width: 400px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.btn-z9x:hover {
  background-color: #0056b3;
}
.k0a{
  position: relative;
  left: -0.1rem;
}
.btn-regresar-asistencia{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  font-size: 3rem;
  position: relative;
  left: -9.2rem;
  top: -51rem;
  cursor: pointer;
}
.btn-siguiente-asistencia{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  font-size: 3rem;
  position: relative;
  left: 9rem;
  top: -51rem;
  cursor: pointer;
}