body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4e7;
  height: 100vh;
  max-width: 100lh;
}
.login{
  height: 100vh;
  max-width: 100lh;
  display: grid;
  grid-template-columns: repeat(8, 51px );
  grid-template-rows: repeat(17, 50px);
}
.dise{
  border: 1px solid green;
  grid-column:  4/6;
  grid-row: 2/4;
  border-radius: 50rem;
  background-color: green;
  font-size: 3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.z10{
  grid-row: 4/5;
  grid-column: 3/6;
  position: relative;
  left: 1.2rem;
  top: -1rem;
  font-size: 1.8rem;
}
.z11{
  grid-row: 5/6;
  grid-column: 4/8;
  position: relative;
  left: -1.5rem;
  font-size: 1.2rem;
  top: -1.4rem;
}
.img02{
  grid-column: 2/6;
  grid-row: 6/11;
  position: relative;
  left: 2rem;
  top: -1rem;
}
#loginForm{
  grid-column: 1/6;
  grid-row: 11/11;
}
#loginForm input{
  width: 330px;
  padding: 13px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border 0.3s;
  position: relative;
  left: 1rem;
  top: -1.2rem;
  background-color: rgb(1, 1, 41);
  color: white;
}
#loginForm input:focus {
  border-color: rgb(1, 1, 41);
}
#loginForm button {
  padding: 12px;
  font-size: 16px;
  background-color: rgb(1, 1, 41);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 15.5rem;
  top: 3rem;
}

#loginForm button:hover {
  background-color: rgba(1, 1, 41, 0.897);
}
.contra-olvido{
  width: 200px;
  grid-column: 4/6;
  grid-row: 12/13;
  background-color: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0);
  position: relative;
  top: 1rem;
  left: 2.5rem;
  font-size: 0.9rem;
}