.menu-content{
    width: 250px;
    height: 830px;
    border: 1px solid black;
    position: relative;
    top: -53rem;
    background-color: white;

    display: grid;
    grid-template-rows: repeat(15,1fr);
}
.wq0{
    grid-row: 1;
    font-size: 1.2rem;
    position: relative;
    left: 2rem;
}
.wq1{
    grid-row: 2;
    font-size: 1rem;
    position: relative;
    left: 6.5rem;
    top: -2.2rem;
}
#btnReporte{
    width: 200px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid rgb(5, 5, 69);
    background-color: rgb(5, 5, 69);
    color: white;
    grid-row: 3;
    position: relative;
    left: 1.5rem;
    top: -1em;
}
#btnUniforme{
    width: 200px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid rgb(5, 5, 69);
    background-color: rgb(5, 5, 69);
    color: white;
    grid-row: 4;
    position: relative;
    left: 1.5rem;
    top: -1em;
}
#btnProye{
    width: 200px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid rgb(5, 5, 69);
    background-color: rgb(5, 5, 69);
    color: white;
    grid-row: 5;
    position: relative;
    left: 1.5rem;
    top: -1em;
}
#btnOtrosNiveles{
    width: 200px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid rgb(5, 5, 69);
    background-color: rgb(5, 5, 69);
    color: white;
    grid-row: 6;
    position: relative;
    left: 1.5rem;
    top: -1em;
}
#btnCerrarS{
    width: 200px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid rgb(5, 5, 69);
    background-color: rgb(5, 5, 69);
    color: white;
    grid-row: 7;
    position: relative;
    left: 1.5rem;
    top: -1em;
}


  .contenedor-panel, .contenedor-maestros {
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
  
  .btn-nivel, .btn-mostrar-maestros, .btn-volver-niveles, .btn-ver-alumnos {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    top: -25rem;
  }
  
  .btn-nivel:hover, .btn-mostrar-maestros:hover, .btn-volver-niveles:hover, .btn-ver-alumnos:hover {
    background-color: #45a049;
  }
  
  .lista-maestros {
    margin-top: 15px;
    text-align: left;
  }
  
  .maestro-card {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.contenedor-panel{
    display: grid;
    grid-template-columns: repeat();
    grid-template-rows: repeat(15,1fr);
    position: relative;
    top: -52rem;


    display: flex;
  flex-direction: column;
}
.btn-nivel{
    position: relative;
    top: 20rem;
}