/* Contenedor general del calendario */
#root > div {
  max-width: 400px;
  margin: auto;
  background-color: #fefefe;
  border-radius: 16px;
}

/* Título del mes */
.tituloMes {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

/* Controles de mes */
.controlesMes {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 10px auto;
  max-width: 160px;
}

.controlesMes button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controlesMes button:hover {
  background-color: #2980b9;
}

/* Grid del calendario */
.calendario-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  margin-top: 10px;
}

/* Día normal */
.dia {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: transform 0.2s ease;
}

.dia:hover {
  transform: scale(1.05);
}

/* Día con asistencia */
.dia.asistio {
  background-color: #27ae60;
  color: white;
  font-weight: bold;
}

/* Día con falta */
.dia.falto {
  background-color: #e74c3c;
  color: white;
  font-weight: bold;
}

/* Celdas vacías */
.dia.vacio {
  background-color: transparent;
  border: none;
  cursor: default;
}
.btn-volver {
  background-color: white; /* rojo */
  color: black;
  padding: 10px 20px;
  font-size: 3rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px;
  position: relative;
  left: -2rem;
  transition: background-color 0.3s ease;
}
.btn-siguiente {
  background-color: white; /* verde */
  color: blac;
  padding: 10px 20px;
  font-size: 3rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px;
  position: relative;
  left: 14rem;
  transition: background-color 0.3s ease;
}
