#btn-regresar-asistencia {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 0.8rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px 5px 20px 5px;
  transition: background-color 0.3s ease;
  position: relative;
  left: 0rem;
}
#btn-regresar-asistencia:hover {
  background-color: #ddd;
}

#btn-siguiente-asistencia {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 0.8rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px 5px 20px 5px;
  transition: background-color 0.3s ease;
  position: relative;
  left: 8.5rem;
}
#btn-siguiente-asistencia:hover {
  background-color: #ddd;
}
  #tablaAsistenciasContainer{
    position: relative;
    top: rem;
  }

  #titulo-resumen-asistencia {
   position: relative;
   left: -0.1rem;
  }
  